<div class="search-bar-container my-3">
  <%= form_with url: books_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a book"
    %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>

<div class="text-center font-weight-bold border">
   <h1 class="hello" style="line-height: 2em;">All Books👇</h1>
</div>

<div class="index-container mr-3">
  <div class="books-grid mx-4">
    <% @books.each do |book| %>
      <%= render partial: "shared/card", locals: {book: book }  %>
    <%end%>
  </div>
  <div class="map-container mt-2 pr-3" data-controller="map"
       data-map-markers-value="<%= @markers.to_json %>"
       data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
