<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
<h1>Create your review here</h1>

<%= simple_form_for [@book, @review] do |f| %>
  <%= f.error_notification %>


        <%= f.input :content%>
        <%= f.submit class: 'btn btn-primary' %>

     <div class="form-actions">
    <%= f.button :submit, "Create" %>
  </div>
      <% end %>

       </div>
  </div>
</div>
      